{% extends "layout.html" %}
{% block main %}
	<h1>Стоп! Ви перейшли за симульованим фішинговим посиланням.</h1>
	<h2>Щоб безпечно користуватись Інтернетом, запам&rsquo;ятайте зазначені нижче три правила.</h2>
	<table>
		<tbody>
			<tr>
				<div>Будьте уважні з посиланнями та вкладеннями в електронних листах.</div>
			</tr>
			<tr>
				<div>Перевіряйте свою електронну пошту на наявність ознак фішингової атаки.</div>
			</tr>
			<tr>
				<div>Отримавши незвичного електронного листа від знайомої вам особи, зв&rsquo;яжіться з відправником в інший спосіб і переконайтеся, що це не підступи шахраїв.</div>
			</tr>
		</tbody>
	</table>
{% endblock %}